<%= form_with(model: @instrumento, local: true) do |form| %>
  <!--<form class="was-validated">-->
  <div class="row">
    <!-- Bloque izquierda -->
    <div class="col-md-6 col-xs-12">

      <!-- Box name -->
      <div class="form-group">
        <%= form.label :nombre %>
        <%= form.text_field :nombre, class:"form-control" %>

        <% if @instrumento.errors.any? %>
          <div id="error_explanation" class="error">
            <span>
              Se han encontrado
              <%= pluralize(@instrumento.errors.count, "error") %>:
            </span>
            <ul>
              <% @instrumento.errors.full_messages.each do |msg| %>
              <li> <%= msg %> </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <!-- Box name -->

      <!-- Box tipo -->
      <div class="form-group">
        <%= form.label :tipo %>
        <%= form.text_field :tipo, class:"form-control" %>

        <% if @instrumento.errors.any? %>
          <div id="error_explanation" class="error">
            <span>
              Se han encontrado
              <%= pluralize(@instrumento.errors.count, "error") %>:
            </span>
            <ul>
              <% @instrumento.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <!-- Box tipo -->

    </div>
    <!-- Bloque izquierda -->

    <!-- Bloque derecha -->
    <div class="col-md-6 col-xs-12">

      <!-- Box precio -->
      <div class="form-group">
        <%= form.label :precio %>
        <%= form.text_field :precio, class:"form-control" %>

        <% if @instrumento.errors.any? %>
          <div id="error_explanation" class="error">
            <span>
              Se han encontrado
              <%= pluralize(@instrumento.errors.count, "error") %>:
            </span>
            <ul>
              <% @instrumento.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <!-- Box precio -->

      <!-- Box detalles -->
      <div class="form-group">
        <%= form.label :detalles %>
        <%= form.text_field :detalles, class:"form-control" %>

        <% if @instrumento.errors.any? %>
          <div id="error_explanation" class="error">
            <span>
              Se han encontrado
              <%= pluralize(@instrumento.errors.count, "error") %>:
            </span>
            <ul>
              <% @instrumento.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <!-- Box detalles -->

    </div>
    <!-- Bloque izquierda -->

  </div>
  <div class="d-flex justify-content-center mb-2 mt-4">
    <%= form.submit %>
    <!--<button type="submit" onclick="return validate_register()" class="btn btn-primary">Registrarse</button>-->
  </div>
<% end %>