<section class="offset-md-1 col-md-10 col-xs-12">
  <div class="my-3 content py-3 ">

    <div class="w-100 text-center">
      <h1>Instrumentos</h1>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Informacion</th>
          <th class="text-center" colspan="3">Acciones</th>
        </tr>
        </thead>

        <% @instrumento.each do |instrumento| %>
          <tbody>
            <tr>
              <td class="text-center align-middle"> <%= instrumento.nombre %> </td>

              <td class="text-center align-middle"> <%= instrumento.categorium.nombre %> </td>

              <td class="text-center align-middle"> <%= instrumento.precio %> </td>

              <td class="text-center align-middle"> <%= instrumento.informacion %> </td>

              <!-- Icono Detalles -->
              <td class="text-center align-middle">
                <%= link_to "Detalles", instrumento, class: "btn btn-info" %>
              </td>
              <!-- /Icono Detalles -->

              <!-- Icono Editar -->
              <td class="text-center align-middle">
                <%= link_to "Editar", edit_instrumento_path(instrumento.id), class: "btn btn-success" %>
              </td>
              <!-- /Icono Editar -->

              <!-- Icono Eliminar -->
              <td class="text-center align-middle">
                <%= link_to "Eliminar", instrumento, method: :delete, class: "btn btn-danger",
                              data: {confirm: '¿Está seguro de querer eliminar?'} %>
              </td>
              <!-- /Icono Eliminar -->

            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</section>