<section class="offset-md-1 col-md-10 col-xs-12">
  <div class="my-3 content py-3 ">

    <div class="w-100 text-center">
      <h1>Mis instrumentos</h1>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Imagen</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Detalles</th>
          <th class="text-center" colspan="3">Acciones</th>
        </tr>
        </thead>

        <% @instrumento.each do |instrumento| %>
          <tbody>
            <tr>
              <td class="text-center align-middle"> <%= instrumento.nombre %> </td>

              <td class="text-center align-middle"> <%= instrumento.tipo %> </td>

              <td class="text-center align-middle">
                <%= image_tag(instrumento.image, class: "rounded", style: "width: 200px") %>
              </td>

              <td class="text-center align-middle"> <%= instrumento.precio %> </td>

              <td class="text-center align-middle"> <%= instrumento.detalles %> </td>

              <!-- Icono Detalles -->
              <td class="text-center align-middle">
                <button class="btn btn-info">
                  <%= link_to "Detalles", instrumento, style: "color:#ffffff" %>
                </button>
              </td>
              <!-- /Icono Detalles -->

              <!-- Icono Editar -->
              <td class="text-center align-middle">
                <button class="btn btn-success">
                  <%= link_to "Editar", edit_instrumento_path(instrumento.id), style: "color:#ffffff" %>
                </button>
              </td>
              <!-- /Icono Editar -->

              <!-- Icono Eliminar -->
              <td class="text-center align-middle">
                <button class="btn btn-danger">
                  <%= link_to "Eliminar", instrumento, method: :delete,
                              data: {confirm: '¿Está seguro de querer eliminar?'}, style: "color:#ffffff" %>
                </button>
              </td>
              <!-- /Icono Eliminar -->

            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</section>