<div class="container">

  <h1>Editar categoría</h1>

  <div class="d-flex my-3">
    <%= link_to 'Ver Categorías', categorias_path, class: "btn btn-secondary" %>
  </div>

  <%= form_with(model: @categoria, local: true) do |form| %>

    <% if @categoria.errors.any? %>
      <div class="alert alert-danger">
        <span>
          Se han encontrado
          <%= pluralize(@categoria.errors.count, "error") %>:
        </span>
        <ul>
          <% @categoria.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :id %>
      <%= form.text_field :id, class: 'form-control', readonly: true %>
    </div>

    <div class="form-group">
      <%= form.label :nombre %>
      <%= form.text_field :nombre, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :descripcion %>
      <%= form.text_area :descripcion, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="imagen">Imagen</label>
      <input type="file" class="form-control-file" id="imagen">
    </div>

    <%= form.submit "Guardar", class: 'btn btn-primary' %>

  <% end %>

</div>