<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Nueva Categoría</h4>
  </div>
  <%= form_with(model: @categoria, url: categorias_path, html: { method: :post}, local: true) do |form| %>
    <!-- Protección CSRF-->
    <%#= token_tag nil %>

    <div class="form-group">
      <%= form.label :nombre %>
      <%= form.text_field :nombre, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :descripcion %>
      <%= form.text_area :descripcion, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="imagen">Imagen</label>
      <input type="file" class="form-control-file" id="imagen">
    </div>

    <%= form.submit "Guardar", class: 'btn btn-primary' %>

    <%= link_to 'Cancelar', :back, class: "btn btn-warning" %>
  <% end %>
</div>