<section class="offset-lg-4 col-lg-4 offset-md-2 col-md-8 col-xs-12 custom-form">

  <div class="d-flex justify-content-center mt-5 content">
    <div class="col-md-10 col-xs-12 py-4">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="mb-2"> Log in </h1>
          <hr class="teal accent-3 mb-4 mt-0 mx-auto border-dark" style="width: 200px;">
        </div>

        <div class="col-12">
          <%= form_with(model: @usuario, local: true) do |form| %>
            <!-- Box email -->
            <div class="form-group">
              <%= form.label :nombre %>
              <%= form.text_field :nombre %>
            </div>
            <input type="text" id="nombre1">
            <!-- Box email -->

            <!-- Box password -->
            <div class="form-group">
              <%= form.label :contraseña %>
              <%= form.text_field :contraseña %>
            </div>
            <!-- Box password -->

            <div class="d-flex justify-content-center mb-2">
              <%= form.submit class: "btn btn-dark" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>