<h1 class="d-flex justify-content-center mb-4"> Información del usuario con ID: <%= @usuario.id %></h1>

<section>
  <div>
    <p> Nombre: <%= @usuario.nombre %> </p>
  </div>
  <div>
    <p> Apellidos: <%= @usuario.apellidos %> </p>
  </div>
  <div>
    <p> Pais: <%= @usuario.pais %> </p>
  </div>
  <div>
    <p> Localidad: <%= @usuario.localidad %> </p>
  </div>
  <div>
    <p> Dirección: <%= @usuario.direccion %> </p>
  </div>
  <div>
    <p> Código Postal: <%= @usuario.codigoPostal %> </p>
  </div>
  <div>
    <p> Correo: <%= @usuario.email %> </p>
  </div>
  <div>
    <p> Contraseña: <%= @usuario.contraseña %> </p>
  </div>
  <div>
    <%= link_to "Eliminar usuario", @usuario, method: :delete %>
  </div>
</section>



