<section class="offset-md-2 col-md-8 col-xs-12">
  <div class="d-flex justify-content-center mt-5 content">
    <div class="col-12 py-4">
      <div class="w-100 text-center mb-3">
        <h1>Información del usuario</h1>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <div>
            <p> Tipo: <%= @usuario.tipo %> </p>
          </div>
          <div>
            <p> Nombre: <%= @usuario.nombre %> </p>
          </div>
          <div>
            <p> Apellidos: <%= @usuario.apellidos %> </p>
          </div>
          <div>
            <p> Pais: <%= @usuario.pais %> </p>
          </div>
          <div>
            <p> Localidad: <%= @usuario.localidad %> </p>
          </div>
          <div>
            <p> Dirección: <%= @usuario.direccion %> </p>
          </div>
          <div>
            <p> Código Postal: <%= @usuario.codigoPostal %> </p>
          </div>
          <div>
            <p> Correo: <%= @usuario.email %> </p>
          </div>
          <div>
            <p> Contraseña: <%= @usuario.contraseña %> </p>
          </div>
          <div>
              <%= link_to "Editar", edit_usuario_path(@usuario.id), class: "btn btn-success" %>
              <%= link_to "Eliminar", @usuario, method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



